<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Школа игры на саксофоне</title>
    <link rel="stylesheet" href="/saxwebsite/main/static/main/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Rubik:wght@300;400;500;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header font-white">
        <div class="container">
            <nav class="navigation">
                <div class="logo">
                   <a href="#" class="logo-wrapper">
                    <img src="/saxwebsite/main/static/main/img/logo.png" alt="logo" class="logo-icon">
                   </a>
                </div>
                <ul class="menu">
                    <li class="menu-item">
                        <a href="#">О нас</a>
                    </li>
                    <li class="menu-item">
                        <a href="#">Преподаватель</a>
                    </li>
                    <li class="menu-item">
                        <a href="#">Новости</a>
                    </li>
                    <li class="menu-item">
                        <a href="#">Отзывы</a>
                    </li>
                </ul>
                <a href="https://vk.com/away.php?utf=1&to=https%3A%2F%2Finstagram.com%2Fanatoliyaichuk%3Figshid%3DYmMyMTA2M2Y%3D" target="_blank" class="socials">
                    <img src="/saxwebsite/main/static/main/img/instagram-icon.png" alt="instagram-icon" class="instagram-logo">
                </a>
            </nav>
        </div>
    </header>
    <!-- FIRST SCREEN -->
    <section class="first-screen font-white">
        <div class="container">
            <div class="first-screen-wrap font-white">
                <div class="first-screen-content">
                    <h1 class="headline">Школа игры<br>на саксофоне</h1>
                    <a href="#" class="f-screen-btn">Записаться</a>
                </div>
            </div>
        </div>
    </section>
    <!-- TYPES OF LESSONS-->
    <section class="types-of-lessons">
        <div class="container">
            <div class="types-of-lessons-wrap">
                <div class="types-of-lessons-item">
                    <div class="types-of-lessons-item-wrap">
                        <h3 class="types-of-lessons-subtitle">
                            С нуля
                        </h3>
                        <p class="types-of-lessons-desc">
                            Что вы узнаете на наших курсах игры на
                            саксофоне, обучаясь с нуля: ноты, аккорды,
                            табулатуры, правильная постановка рук,
                            как заниматься в домашних условиях
                        </p>
                    </div>
                </div>
                <div class="types-of-lessons-item">
                    <div class="types-of-lessons-item-wrap">
                        <h3 class="types-of-lessons-subtitle">
                            Для продвинутых
                        </h3>
                        <p class="types-of-lessons-desc">
                            Более опытных учеников ждут курсы
                            импровизации на саксофоне, возможность
                            прокачать свои навыки в интересующих
                            направлениях. Преподаватель составит
                            план обучения под ваши и только ваши
                            нужды.
                        </p>
                    </div>
                </div>
                <div class="types-of-lessons-last-block">
                    <img src="/saxwebsite/main/static/main/img/instagram-icon.png" alt="sax" class="types-of-lessons-items-img">
                    <h3 class="types-of-lessons-subtitle-last-block">
                        Уроки саксофона проводятся
                        по индивидуальной программе
                    </h3>
                    <p class="types-of-lessons-last-block-desc">
                        После обучения в нашей школе игры на
                        саксофоне наши ученики могут сыграть
                        любую песню из сборника аккордов и 
                        подбирают любимые песни на слух, а 
                        затем начинают сочинять собственные
                        композиции для гитары и импровизируют.
                    </p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>